<h1>
  Parse in strict mode and emit <span>"use strict"</span> for each source file
</h1>

<h2 style="padding-top: 10px;">
  JavaScript's strict mode, introduced in ECMAScript 5, is a way to opt in to a
  restricted variant of JavaScript, thereby implicitly opting-out of "sloppy
  mode". Strict mode isn't just a subset: it intentionally has different
  semantics from normal code.
</h2>

<h2 style="padding-top: 10px; padding-bottom: 10px;">
  Strict mode makes several changes to normal JavaScript semantics:
</h2>

<ol>
  <li>
    <h2>
      Eliminates some JavaScript silent errors by changing them to throw errors.
    </h2>
  </li>
  <li>
    <h2>
      Fixes mistakes that make it difficult for JavaScript engines to perform
      optimizations: strict mode code can sometimes be made to run faster than
      identical code that's not strict mode.
    </h2>
  </li>
  <li>
    <h2>
      Prohibits some syntax likely to be defined in future versions of
      ECMAScript.
    </h2>
  </li>
</ol>
