/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #353232;
  color: white;
}

.alert {
  color: red !important;
}

/* .mat-tab-label,
.mat-tab-link {
  color: white !important;
} */
.mat-tab-label-content {
  color: white !important;
}
